 <ul class="mt-4 list-group">
   <h3 class="mx-auto" *ngIf="produits.length < 1">Votre panier est vide.</h3>
  <li (click)="log(item); log(i)" *ngFor="let item of produits; let i = index" class="list-group-item d-flex justify-content-between align-items-center">
    <img src="{{item.image}}">
    {{item.nom}} - {{item.taille}}L
    <span class="badge-primary badge-pill">{{item.prix}}€</span>
    <button (click)="onProduitRemoveClick(i)" type="button" class="btn btn-danger">Supprimer</button>
  </li>
</ul> 