
<div class="row mt-4">
  <div class="text-center col-lg-8 offset-lg-2 col-10 offset-1">
    <h1>Bienvenue chez La bonne gourde</h1>
    <h2>Ici on vends des gourdes</h2>
    <img src="https://i3.cpcache.com/merchandise/359_300x300_Front_Color-White.jpg?Size=NA&AttributeValue=NA&region={%22name%22:%22FrontCenter%22,%22width%22:3.25,%22height%22:3.25,%22alignment%22:%22MiddleCenter%22,%22orientation%22:0,%22dpi%22:200,%22crop_x%22:0,%22crop_y%22:0,%22crop_h%22:600,%22crop_w%22:600,%22scale%22:0,%22template%22:{%22id%22:81830119,%22params%22:{}}}&Filters=[{%22name%22:%22background%22,%22value%22:%22ddddde%22,%22sequence%22:2}]">
  </div>
</div>
